/* Adobe acumin-pro:
- http://typekit.com/eulas/00000000000000003b9acafc
- http://typekit.com/eulas/00000000000000003b9acafd
- http://typekit.com/eulas/00000000000000003b9acaf7
- http://typekit.com/eulas/00000000000000003b9acaf6
*/
@font-face {
	font-family: "acumin-pro";
	src: url("./font/bold.woff2") format("woff2"), url("./font/bold.woff") format("woff"), url("./font/bold.ttf") format("opentype");
	font-display: fallback;
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: "acumin-pro";
	src: url("./font/italic-bold.woff2") format("woff2"), url("./font/italic-bold.woff") format("woff"), url("./font/italic-bold.ttf") format("opentype");
	font-display: fallback;
	font-style: italic;
	font-weight: 700;
}
@font-face {
	font-family: "acumin-pro";
	src: url("./font/italic.woff2") format("woff2"), url("./font/italic.woff") format("woff"), url("./font/italic.ttf") format("opentype");
	font-display: fallback;
	font-style: italic;
	font-weight: 400;
}
@font-face {
	font-family: "acumin-pro";
	src: url("./font/regular.woff2") format("woff2"), url("./font/regular.woff") format("woff"), url("./font/regular.ttf") format("opentype");
	font-display: fallback;
	font-style: normal;
	font-weight: 400;
}

:root {
	--accent-color: #242443;
}

.dark-theme {
	color-scheme: dark;

	--primary-text: #FFF;
	--primary-bg: color-mix(in srgb, #2f2f2f 70%, var(--accent-color));
	--black: #000;
	--shadow: #000;

	--red: #f00;
	--green: #008000;
	--yellow: #ff0;
	--focus: #88f;
	--icon-color: #fff;

	--message-bg-hover: color-mix(in srgb, #1e1e28 85%, var(--accent-color));
	--timestamp-color: #a2a2a2;
	--code-bg: color-mix(in srgb, #121212 95%, var(--accent-color));
	--user-info-bg: color-mix(in srgb, #383838 85%, var(--accent-color));
	--user-dock-bg: color-mix(in srgb, #111111 90%, var(--accent-color));
	--blank-bg: #323232;
	--light-border: #929292;
	--settings-hover: color-mix(in srgb, #000000 95%, var(--accent-color));
	--quote-bg: #7a798e;
	--textarea-bg: color-mix(in srgb, #484848 80%, var(--accent-color));
	--filename: #47bbff;
	--notify-bg: #fc7537;
	--pronouns: #797979;
	--error-color: #ff4949;
	--embed: color-mix(in srgb, #131313 90%, var(--accent-color));
	--link: #88f;
	--embed-fallback: #6b717c;
	--message-jump: #7678b0;
	--member-error-bg: #ff843d;
	--button-bg: color-mix(in srgb, #303030 80%, var(--accent-color));

	--channels-bg: color-mix(in srgb, #2a2a2a 90%, var(--accent-color));
	--channel-hover: color-mix(in srgb, #121212 70%, var(--accent-color));
	--channel-active: #4e4e55;

	--profile-bg: color-mix(in srgb, #232323 90%, var(--accent-color));
	--profile-info-bg: color-mix(in srgb, #121212 90%, var(--accent-color));

	--mention-color: #b7c5db;
	--mention-bg: #4f60be;

	--server-border: color-mix(in srgb, #000000 80%, var(--accent-color));
	--server-bg: color-mix(in srgb, #2a2a2a 80%, var(--accent-color));
	--server-name-bg: color-mix(in srgb, #232323 90%, var(--accent-color));
	--server-list: color-mix(in srgb, #1d1d1d 90%, var(--accent-color));
	--discovery-bg: #37373b;

	--reply-border: #585a68;
	--reply-bg: #0b0d20;
	--reply-text: #acacac;

	--spoiler-hover: #111111;
	--spoiler-closed: #1e1e1e;
	--spoiler-open-bg: #424242;
	--timestamp-bg: #2f2f33;

	--unknown-file-bg: #141316;
	--unknown-file-border: #474555;

	--login-border: #131315;
	--loading-bg: #22232c;

	--dialog-bg: #33363d;
	--dialog-border: #1c1b31;

	--scrollbar-track: #34313c;
	--scrollbar-thumb: #201f29;
}

.light-theme {
	color-scheme: light;

	--primary-text: #000;
	--primary-bg: color-mix(in srgb, #FFF 70%, var(--accent-color));
	--black: #FFF;
	--shadow: #777;

	--red: #dd6060;
	--green: #4fad56;
	--yellow: #ff0;
	--focus: #47bbff;
	--icon-color: #000;

	--message-bg-hover: color-mix(in srgb, #dedee2 85%, var(--accent-color));
	--timestamp-color: #5d5d66;
	--code-bg: color-mix(in srgb, #cbcbcc 95%, var(--accent-color));
	--user-info-bg: color-mix(in srgb, #b3b1c2 85%, var(--accent-color));
	--user-dock-bg: color-mix(in srgb, #bdbdc9 90%, var(--accent-color));
	--blank-bg: #ceccdd;
	--light-border: #98979e;
	--settings-hover: color-mix(in srgb, #b5b1bb 95%, var(--accent-color));
	--quote-bg: #9595a3;
	--textarea-bg: color-mix(in srgb, #b4b7c7 85%, var(--accent-color));
	--filename: #47bbff;
	--notify-bg: #ff170f;
	--pronouns: #606063;
	--error-color: #d40404;
	--embed: color-mix(in srgb, #f2f3f5 90%, var(--accent-color));
	--link: #3333ee;
	--embed-fallback: #6b717c;
	--message-jump: #ccceff;
	--member-error-bg: #ff943d;
	--button-bg: color-mix(in srgb, #b7b7c7 80%, var(--accent-color));

	--channels-bg: color-mix(in srgb, #ededf1 75%, var(--accent-color));
	--channel-hover: color-mix(in srgb, #cbcbd8 70%, var(--accent-color));
	--channel-active: #bdbbc9;

	--profile-bg: color-mix(in srgb, #ccccd3 90%, var(--accent-color));
	--profile-info-bg: color-mix(in srgb, #bdbdc9 90%, var(--accent-color));

	--mention-color: #4351d1;
	--mention-bg: #ccd2f3;

	--server-border: color-mix(in srgb, #c2c2ce 80%, var(--accent-color));
	--server-bg: color-mix(in srgb, #c0c0d4 80%, var(--accent-color));
	--server-name-bg: #a3a3b5;
	--server-list: color-mix(in srgb, #dfdfe6 90%, var(--accent-color));
	--discovery-bg: #c8c8d4;

	--reply-border: #b1b2bd;
	--reply-bg: #d1d3e4;
	--reply-text: #2e2e30;

	--spoiler-hover: #b9b9b9;
	--spoiler-closed: #c4c4c4;
	--spoiler-open-bg: #c2c2c2;
	--timestamp-bg: #dadae2;

	--unknown-file-bg: #bdbdbd;
	--unknown-file-border: #adadad;

	--login-border: #bebccf;
	--loading-bg: #b1b3c2;

	--dialog-bg: #bec2d1;
	--dialog-border: #bbbad1;

	--scrollbar-track: #dddddf;
	--scrollbar-thumb: #a9a9af;
}

body {
	font-family: "acumin-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 400;
	background: var(--primary-bg);
	color: var(--primary-text);
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
	height: 100%;
}

.imgfit {
	max-width: 80vw;
	max-height: 80dvh;
	width: auto;
	height: auto;
	aspect-ratio: auto;
}

dialog:not(.accountSwitcher) {
	min-width: 30%;
	min-height: 40%;
	max-width: 95%;
	max-height: 95%;
	background: var(--primary-bg);
}

dialog.settings {
	width: 85%;
	min-height: 60%;
}

dialog .close {
	color: #AAA;
	float: right;
	font-size: 28px;
	font-weight: 700;
	transition: .2s;
	cursor: pointer;
}
dialog .close:hover, dialog .close:focus {
	color: #000;
}

.messagediv {
	overflow: hidden;
	max-width: 100%;
	display: flex;
	flex-direction: column;
	padding: 0 25px 3px 15px;
	max-height: 20in;
	flex-shrink: 0;
	width: 100%;
	box-sizing: border-box;
}
.messagediv:hover, .messagediv:focus {
	background: var(--message-bg-hover);
}

.topMessage {
	padding-top: .03in;
	margin-top: .1in;
}

pre {
	background: var(--code-bg);
	color: var(--code-text);
	width: 100vw;
	max-width: max-content;
	overflow-wrap: break-word;
	word-wrap: break-word;
	word-break: break-word;
	white-space: pre-wrap;
	margin: 3px 0;
	padding: 1px 3px;
	border-radius: 5px;
}

code {
	background: var(--code-bg);
	color: var(--code-text);
	font-size: 16px;
}

.contextbutton {
	transition: background-color .1s ease-in-out;
	background: var(--channels-hover);
	color: var(--primary-text);
	font-weight: bold;
	width: 5cm;
	text-align: left;
	font-size: .5cm;
	cursor: pointer;
	border-width: 0 0 .03in;
	margin: .03in .05in .05in;
}
.contextbutton:hover, .contextbutton:focus {
	background: var(--primary-bg);
}

.contextbutton:active, .contextbutton:disabled,
button:active, button:disabled {
	border-width: 0;
}

.contextbutton:disabled,
button:disabled,
#typebox[contenteditable=false] {
	cursor: not-allowed;
}

.contextbutton:disabled:hover, .contextbutton:disabled:focus {
	background: var(--channels-bg);
}

.infosection {
	display: inline-block;
	background: var(--profile-info-bg);
	border-radius: 10%;
	padding: .3cm;
	width: 100%;
	height: calc(100% - .5in - .2cm);
	box-sizing: border-box;
}

h1, h2, h3 {
	margin: 0;
	display: inline-block;
}

h2 {
	font-size: 19px;
}

.h2md, .instance h2 {
	font-size: .25in;
}

small.subtext {
	font-size: 13px;
}

.pfp, #userpfp {
	border-radius: 50%;
	user-select: none;
	cursor: pointer;
}
.pfp {
	width: 48px;
	height: 48px;
}

.servericon {
	transition: border-radius .2s;
	margin: 5px 8px;
}
.serveropen .servericon, .servericon:hover, .servericon:focus {
	border-radius: 30%;
}

.contextmenu {
	position: absolute;
	background: var(--profile-info-bg);
	border-radius: .05in;
	z-index: 5;
	width: fit-content !important;
	padding: .03in;
}

#neunence {
	vertical-align: top;
	overflow: auto;
	flex-shrink: 0;
	width: 62px;
	background: var(--server-list);
	overflow-y: scroll;
	scrollbar-width: none;
}
#neunence::-webkit-scrollbar, #servers::-webkit-scrollbar, #neunence::-webkit-scrollbar-button {
	display: none;
}

#servers {
	vertical-align: top;
}

.blankserver {
	border-radius: 50%;
	width: .5in;
	height: .5in;
	background: var(--blank-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	user-select: none;
}

img {
	vertical-align: middle;
	aspect-ratio: 2 / 1;
}

#page {
	height: 100%;
	width: 100%;
}

.message {
	width: 100%;
	flex-wrap: nowrap !important;
	overflow: auto !important;
}

.pfprow {
	width: 54px;
	flex-shrink: 0 !important;
}

.commentrow {
	width: 100%;
	height: 100%;
	word-wrap: break-word;
}

.messagecontainer {
	overflow-x: clip;
	overflow-y: hidden;
	max-width: 100%;
	width: 100%;
	display: flex;
	flex-shrink: 1;
	transform: translateZ(0);
}

p {
	margin: 0;
	padding: 0;
	transition: background-color .1s ease-in-out, color .1s ease-in-out;
}

#channels {
	--top-height: 53px;
	background: var(--channels-bg);
	position: absolute;
	top: var(--top-height);
	height: calc(100dvh - 75px - var(--top-height));
	width: 2.5in;
	overflow-x: hidden;
	overflow-y: auto;
	user-select: none;
	padding-top: 7px;
	padding-bottom: 7px;
}

.space {
	margin: .02in;
	font-size: .25in;
	display: inline-block;
	text-indent: .05in;
	width: .175in;
	height: .175in;
	padding-right: .026in;
	vertical-align: text-bottom;
}

.indent {
	text-indent: .15in;
}

.viewChannel {
	font-weight: bold;
	background: var(--channel-active);
}

input {
	background: var(--message-bg-hover);
	color: var(--primary-text);
	padding: 7px 4px;
	width: 97.5%;
	box-shadow: inset 0 0 .04in #000;
	border-width: 0;
	border-radius: .05in;
}
input[type="color"] {
	padding: 0;
}

div {
	transition: background-color .1s ease-in-out;
}

#typebox {
	min-height: .4in;
	max-height: 1.5in;
	overflow-y: auto;
	flex-grow: 1;
	outline: none;
}

#realbox {
	padding: .05in;
	border-radius: .25cm;
	width: calc(100% - .2in);
	box-sizing: border-box;
	color: var(--primary-text);
	background: var(--textarea-bg);
	display: flex;
	align-items: stretch;
	margin: 0 .1in .25in .1in;
	box-shadow: 0 .01in .05in #000;
}

#typebox[contenteditable=false]:before {
	content: "You can't chat here";
	color: color-mix(in hsl, var(--primary-bg), var(--primary-text));
}

hr {
	border-style: solid;
	border-width: .01in;
	border-color: var(--primary-text);
}

.username {
	width: fit-content;
	cursor: pointer;
	font-weight: bold;
	word-break: normal;
}

.username:hover, .username:focus,
.clickable:hover {
	text-decoration: underline;
}

.spoiler {
	background: var(--spoiler-closed);
	color: var(--spoiler-closed);
	border-radius: 3px;
	cursor: pointer;
}
.spoiler:hover, .spoiler:focus {
	background: var(--spoiler-hover);
	color: var(--spoiler-hover);
}

.unspoiled {
	background: var(--spoiler-open-bg);
	color: var(--primary-text);
	border-radius: 3px;
	cursor: auto;
}

.md-timestamp {
	background: var(--timestamp-bg);
	border-radius: 3px;
}
.md-mention {
	background: var(--mention-bg);
	color: var(--mention-color);
	cursor: pointer;
	border-radius: 3px;
}

.replying {
	background: var(--reply-bg);
}

#typing {
	display: flex;
	position: absolute;
	bottom: 0;
	width: fit-content;
	margin-left: 10px;
	margin-bottom: 1px;
	transition: opacity .3s;
	opacity: 1;
	padding: 2px 5px;
	border-radius: 5px;
}

#typediv {
	margin-top: 6px;
	width: 99%;
	z-index: 2;
	background: transparent;
}

.loading-indicator {
	display: flex;
	gap: 2px;
	align-items: center;
}

.dot-container {
	width: 7px;
	height: 7px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.dot {
	animation: 1s infinite fade;
	width: 6px;
	height: 6px;
	background: var(--primary-text);
	border-radius: 1in;
	margin-right: .03in;
}

.dot:first-child {
	animation-delay: 0s;
}
.dot:nth-child(2) {
	animation-delay: .33s;
}
.dot:last-child {
	animation-delay: .66s;
}

@keyframes fade {
	0%, 100% {
		opacity: .2;
	}

	50% {
		opacity: 1;
	}
}

#typingtext {
	margin: 0;
	padding-right: .03in;
}

#typing.hidden {
	transform: translateY(0%);
	opacity: 0;
}

.lightbr {
	border-color: var(--light-border);
	color: var(--black);
	background: var(--black);
	width: 80%;
}

.home {
	border-radius: 50%;
	width: .5in;
	height: .5in;
	background: var(--blank-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 200%;
	user-select: none;
	cursor: pointer;
}

#channelw {
	width: 100%;
	display: flex;
	max-width: 100%;
	flex-direction: column;
	flex-shrink: 1;
	min-height: 0;
	height: 100vh;
	position: relative;
}

.timestamp {
	color: var(--timestamp-color);
	margin-left: 4px;
	font-size: 12.5px;
}

.replyflex {
	display: flex;
	align-items: center;
	color: var(--reply-text);
	font-size: .9rem;
}

.reply {
	display: inline-block;
	vertical-align: middle;
	flex-grow: 1;
	border-color: var(--reply-border);
}

.startreply {
	display: inline-block;
	vertical-align: middle;
	width: 30px;
	margin: 0 3px 0 15px;
	border-color: var(--reply-border);
}

.replypfp {
	border-radius: 50%;
	width: .2in;
	height: .2in;
	padding: .05in;
	user-select: none;
	cursor: pointer;
}

.replytext {
	padding: 0 .05in;
	color: var(--reply-text);
	font-size: 15px;
	cursor: pointer;
}

.replytext pre {
	color: var(--reply-text);
	white-space: nowrap;
	text-overflow: ellipsis;
	max-width: fit-content;
	flex: 1 1 auto;
	min-width: 0;
	width: 25vw;
	grid-column: 2;
	display: inline-block !important;
}

::-webkit-scrollbar {
	width: .1in;
	height: .1in;
}

::-webkit-scrollbar-track {
	background: var(--scrollbar-track);
}

::-webkit-scrollbar-thumb {
	background: var(--scrollbar-thumb);
	border-radius: .08in;
	border: .03in solid transparent;
	background-clip: padding-box;
	transition: .1s;
}

.pronouns {
	color: var(--pronouns);
	font-size: 14px;
}

textarea {
	font-family: "acumin-pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
	background: var(--textarea-bg);
	color: var(--primary-text);
	width: 3.5in;
	resize: none;
	height: 1.5in;
	border-radius: 5px;
	padding: 1px 3px;
}

.channels {
	overflow-x: auto;
	overflow-y: clip;
	transition: height .2s ease-in-out;
	user-select: none;
	cursor: pointer;
	padding: 0 .05in;
}

.channel {
	user-select: none;
	cursor: pointer;
	transition: font-weight .1s;
	display: flex;
	align-items: center;
	margin: 2px;
	border-radius: .05in;
	padding: .05in .1in;
}
.channel:hover, .channel:focus {
	background: var(--channel-hover);
}

.servertd {
	background: var(--server-bg);
	height: .55in;
	flex-shrink: 0;
	display: flex;
	width: 100%;
	align-items: center;
	border-bottom: solid .03in color-mix(in srgb, var(--black) 30%, transparent);
}

#servername, #channelname {
	margin-left: 10px;
	text-overflow: ellipsis;
	overflow-x: hidden;
	white-space: nowrap;
	max-width: 230px;
	font-size: 16.5px;
}

.channeleffects {
	cursor: pointer;
	user-select: none;
	align-self: stretch;
	display: flex;
	align-items: center;
	border-radius: 6px;
	box-sizing: border-box;
	margin: 3px 10px;
	transition: background-color .2s;
}
.channeleffects:hover, .channeleffects:focus {
	background: var(--channel-hover);
}

.dm-container .pfp {
	margin-right: 5px;
	width: 32px;
	height: 32px;
}

.dm-container > .channeleffects {
	padding: 7px;
}

.messageimg {
	cursor: pointer;
	user-select: none;
	max-width: 4in;
	max-height: unset;
	flex-shrink: 0;
	flex-grow: 0;
	width: 100%;
	height: 100%;
}

.tag {
	font-size: .13in;
	font-weight: 500;
	color: var(--primary-text);
	display: block;
}

#userdock {
	background: var(--user-dock-bg);
	position: relative;
	justify-content: space-between;
	align-items: center;
	padding: 10px 2px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	width: 100%;
	flex-grow: 0;
}

#userinfo {
	background: var(--user-info-bg);
	border-radius: .1in;
	cursor: pointer;
	flex-grow: 0;
	padding: .03in;
	min-width: 150px;
}

#username {
	font-weight: 600;
}

button, input::file-selector-button {
	transition: background-color .1s ease-in-out;
	background: var(--button-bg);
	border-color: var(--settings-hover);
	color: var(--primary-text);
	font-weight: bold;
	text-align: left;
	font-size: 17px;
	cursor: pointer;
	border-width: 0 0 1px;
	border-radius: .03in;
	margin: .02in .05in;
	box-shadow: 0 0 .03in var(--black);
}

button:disabled:hover, button:disabled:focus {
	background: var(--message-bg-hover);
	color: var(--primary-text);
}
button:hover, button:focus {
	background: var(--primary-bg);
}

input[type="file"] {
	background-color: transparent;
	box-shadow: none;
	width: min-content;
}

select {
	transition: background-color .1s ease-in-out;
	background: var(--button-bg);
	color: var(--primary-text);
	font-weight: bold;
	text-align: left;
	font-size: .45cm;
	cursor: pointer;
	border-width: 0 0 .03in;
	border-radius: .03in;
	margin: .02in .05in;
	border-color: var(--timestamp-color);
	box-shadow: 0 0 .03in var(--black);
	appearance: none;
}

#logindiv {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--dialog-bg);
	min-width: max(min(70%, calc(50% + .5in)), min(3in, 100%));
	min-height: 70%;
	border-radius: .1in;
	border-style: solid;
	border-color: var(--login-border);
	text-align: center;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#logindiv input {
	width: 90%;
	border-radius: .1in;
}

.adddiv {
	display: inline-block;
	height: 0;
	align-self: stretch;
}

.addchannel {
	margin-left: auto;
	width: .2in;
	text-align: center;
	transition: background-color .2s;
	border-radius: .1in;
	cursor: pointer;
	user-select: none;
}
.addchannel:hover, .addchannel:focus {
	background: var(--black);
}

.radio {
	width: .15in;
	height: .15in;
}

input[type="checkbox"] {
	width: .15in;
	height: .15in;
	accent-color: var(--black);
	color: var(--black);
}

.dragdiv {
	height: .3in;
}

.quote {
	display: inline-block;
	position: relative;
}

.quoteline {
	width: 3px;
	height: 100%;
	position: absolute;
	background: var(--quote-bg);
	border-radius: 3px;
}

.quote > span {
	margin-left: .5em;
	display: flex;
	align-items: center;
}

span {
	word-wrap: break-word;
	word-break: break-word;
}

#loading {
	position: absolute;
	width: 100%;
	height: 100%;
	background: var(--loading-bg);
	z-index: 100;
	text-align: center;
	transition: transform .2s;
	vertical-align: middle;
	display: flex;
	justify-content: flex-start;
	align-content: center;
}

#loading.doneloading {
	transform: translate(0%, -100%);
}

#centerdiv {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: flex;
	flex-direction: column;
	align-content: center;
	align-items: center;
}

#centerdiv > h1, #centerdiv > h2 {
	display: block;
}

.unknownfile {
	background: var(--unknown-file-bg);
	border-style: solid;
	border-radius: .1in;
	border-color: var(--unknown-file-border);
	border-width: .03in;
	display: inline-block;
	border-collapse: collapse;
}

.fileicon {
	font-size: .4in;
	user-select: none;
}

.filename {
	color: var(--filename);
}

.unread {
	position: absolute;
	background: var(--primary-text);
	height: .075in;
	width: .075in;
	transition: transform .2s, background-color .2s, height .2s, width .2s;
	transform: translate(-.2in, .2in);
	z-index: 10;
	border-radius: 50%;
	border: .02in solid;
	border-color: var(--black);
}

.notiunread {
	transform: translate(-5px, 23px);
}

.wrongred {
	color: var(--error-color);
}

.pinged {
	transform: translate(0, .35in);
	background: var(--notify-bg);
	height: .17in;
	width: .17in;
	text-align: center;
}

.cunread {
	box-shadow: inset .024in 0 var(--primary-text);
}

.serveropen .unread {
	transform: translate(-5px, 7px);
	height: 34px;
	border-radius: 30%;
}
.serveropen .unread.servericon-unread {
	transform: translate(-5px, 10px);
}

.switchtable:hover,
.tabbed-head {
	background: var(--profile-info-bg);
}

.tabbed-content td {
	border-inline: medium solid var(--textarea-bg);
}
.tabbed-head td button {
	min-width: 1.5in;
}

.accountSwitcher {
	background: var(--profile-bg);
	cursor: pointer;
	box-shadow: 0 -.5in 4in .5in color-mix(in srgb, var(--shadow) 42%, transparent);
	border-radius: .1in;
	width: 80vw;
	display: flex;
	flex-direction: column;
	padding: .1in;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	max-height: 80vh;
	overflow: auto;
	border: solid var(--black) .035in;
	z-index: 102;
}

.switchtable {
	transition: background-color .3s;
	background: var(--profile-bg);
	cursor: pointer;
}

.serverURL {
	color: var(--pronouns);
	word-wrap: normal;
	word-break: normal;
	white-space: nowrap;
	font-size: .125in;
}

#channelname {
	font-weight: bold;
	display: flex;
}

.collapse {
	display: none !important;
}

#mobileback {
	font-size: 26px;
	font-weight: bold;
	padding: .025in;
	background-color: #06003f96;
	width: .25in;
	height: .25in;
	text-align: center;
	margin-right: .1in;
	margin-left: .05in;
	border-radius: .05in;
	border: .04in solid;
	border-color: var(--black);
	z-index: 7;
}

.bot {
	background-color: #3d47cc;
	color: var(--black);
	padding: 0 3px 1px;
	border-radius: 5px;
	font-weight: bold;
	font-size: 12px;
	margin-left: 5px;
}

.embedimg {
	cursor: pointer;
	user-select: none;
	max-width: 1in;
	max-height: .75in;
	border-radius: .03in;
}
.bigembedimg {
	max-width: 4in;
	max-height: 3in;
}

.embed-color {
	padding-left: .04in;
	border-radius: .07in;
	background: var(--black);
}
.embed {
	background: var(--embed);
	padding: .075in;
	border-radius: .05in;
	max-width: 4in;
	font-size: .15in;
}
.embedp {
	margin-bottom: .075in;
}
.embedicon {
	width: .25in;
	height: .25in;
	border-radius: .25in;
	margin-right: .1in;
}
.linkembed {
	max-width: 5in;
	border: solid;
	border-color: var(--settings-hover);
}
.embed .title {
	margin-bottom: .1in;
	display: block;
	text-decoration: none;
	font-size: .2in;
}
.provider {
	color: var(--timestamp-color);
	text-decoration: none;
}
.embedtitle {
	margin-bottom: 0 !important;
	padding-bottom: .05in;
	font-weight: bold;
}
.embed b {
	margin-right: .075in;
}
.inline {
	display: inline-block;
	margin-right: .1in;
}
.embed .username {
	color: var(--primary-text);
	font-size: .15in;
}
.spaceright {
	margin-right: 3px;
}

#replybox {
	display: flex;
	justify-content: space-between;
	width: 98%;
	height: .3in;
	background: var(--reply-bg);
	transition: height .2s, padding .2s;
	border-radius: .1in .1in 0 0;
	margin-left: 10px;
	margin-right: 10px;
	padding: 0 .05in;
	box-sizing: border-box;
	top: 6px;
	position: relative;
}

#replybox span,
.emojiSelect img {
	align-self: center;
}

.cancelReply {
	align-self: center;
	color: #F00;
	height: auto;
	width: .25in;
	text-align: center;
	padding: 0;
	border: none;
	background: none;
}

#replybox.hideReplyBox {
	height: 0;
}
#replybox.hideReplyBox span, #replybox.hideReplyBox button {
	display: none;
}

/* Conditionally remove border radius from the top when hideReplyBox is not present */
#replybox:not(.hideReplyBox) ~ #typediv #typebox {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

#discovery-guild-content {
	display: flex;
	flex-wrap: wrap;
}

.discovery-guild {
	width: 220px;
	height: 185px;
	margin: 5px;
	padding: 5px;
	background: var(--discovery-bg);
	border-radius: 5px;
	box-shadow: 1px 1px 7px var(--primary-text);
	overflow: hidden;
	cursor: pointer;
}

.discovery-guild .flex {
	align-items: center;
}

.discovery-guild .banner {
	position: relative;
	opacity: 1;
	width: 220px;
	border-radius: 5px;
}

.discovery-guild p {
	overflow-wrap: anywhere;
	max-width: 220px;
}

.date-separator {
	padding: 0 7px;
}

.membererror {
	display: flex;
	color: var(--primary-text);
	background: var(--member-error-bg);
	height: .15in;
	width: .15in;
	border-radius: .1in;
	margin-left: 5px;
	justify-content: center;
	align-items: center;
	align-self: center;
}

.controls {
	position: absolute;
	top: 0;
	right: 0;
}

.containedFile {
	position: relative;
	width: fit-content;
	box-shadow: .02in .02in .05in var(--black);
	display: inline-block;
}

video {
	max-width: 3in;
	max-height: 4in;
}

.flexltr {
	display: flex;
	max-height: 100%;
	overflow: auto;
	flex-shrink: 1;
	flex-grow: 1;
	align-items: stretch;
	align-content: stretch;
}
.flexttb {
	display: flex;
	flex-direction: column;
	max-height: 100vh;
	overflow: auto;
	align-items: flex-start;
	width: 100%;
}

.settingbuttons {
	padding-top: .075in;
	width: 2in;
	border-right: solid .02in var(--message-bg-hover);
	gap: .04in;
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	align-items: center;
	background: var(--channels-bg);
}

.setting {
	background: var(--user-info-bg);
	padding: .075in;
	border-radius: .075in;
	box-shadow: 0 0 .1in var(--message-bg-hover);
}

.settingsname {
	font-size: .25in;
	font-weight: bold;
	margin-right: .1in;
}

.flexgrow {
	flex-grow: 1;
}

.profile {
	display: inline-block;
	position: absolute;
	background: var(--profile-bg);
	border-radius: 10%;
	padding: .2cm;
	width: 285px;
	max-height: 70vh;
	z-index: 5;
	border: solid, color-mix(in hsl, var(--black), transparent 80%), .03in;
	box-shadow: inset .03in .35in .2in var(--accent_color);
}

.hypoprofile {
	position: relative;
}

.flexspace {
	gap: .1in;
	box-sizing: border-box;
}

.settings-space {
	margin: 12px;
	width: -webkit-fill-available;
}

.titlediv {
	display: flex;
	flex-direction: column;
}

.settingstitle {
	font-weight: 900;
	font-size: .25in;
	border-bottom: .03in solid var(--message-bg-hover);
	padding: .06in .2in;
	background: var(--channel-name-bg);
}

.exitsettings {
	position: absolute;
	top: .05in;
	right: .05in;
	background: transparent;
	width: .35in;
	height: .3in;
	display: flex;
	border-radius: 1in;
	justify-content: space-evenly;
	align-items: center;
	font-size: .2in;
	cursor: pointer;
	border: solid .015in var(--black);
	transition: background-color .2s;
	box-shadow: inset 0 0 .04in var(--black);
}
.exitsettings:hover {
	background: var(--profile-bg);
}

.tritoggle {
	display: inline-block;
}
.tritoggle input {
	height: .15in;
	width: .15in;
	margin: .015in;
}
.permission-enabled {
	accent-color: var(--green);
}
.permission-disabled {
	accent-color: var(--red);
}

.channelflex {
	flex-shrink: 0;
	flex-grow: 1;
	width: 2.5in;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	justify-content: space-between;
	min-height: 100vh;
	height: 100vh;
}

.messageflex {
	display: flex;
	justify-content: space-between;
	width: 100%;
	overflow-x: hidden;
}

.message-header {
	align-items: center;
}

.userflex {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 3px;
}
.userflex p {
	font-size: 15px;
}

.savediv {
	position: absolute;
	background: var(--message-bg-hover);
	border: solid var(--black);
	border-radius: .075in;
	padding: .05in .2in;
	display: flex;
	align-items: center;
	right: 50%;
	transform: translate(50%, 0);
	bottom: .1in;
	font-weight: bold;
	font-size: .2in;
	width: 5in;
	height: .5in;
	z-index: 5;
}
.savediv button {
	background: var(--green);
}

.flex {
	display: flex;
}
.flex h3 {
	width: fit-content;
}

.pfprow .pfp {
	width: .4in;
	height: .4in;
	margin-top: 3px;
}

.messagediv .flexltr {
	flex-wrap: wrap;
	max-height: 100in;
	overflow: hidden !important;
}

.messagediv .flexttb {
	overflow: hidden;
	width: 100%;
	max-height: 100in;
	justify-content: flex-end;
}


.actionrow {
	display: flex;
	flex-wrap: wrap;
}
.actionrow button {
	border-radius: 5px;
	margin: 4px 8px 4px 0;
	padding: 8px 16px;
	font-size: 14px;
	border: none;
	color: var(--white);
	transition: .2s;
	max-height: 32px;
	user-select: none;
}
.actionrow button.b-primary {
	background-color: #5865f2;
}
.actionrow button.b-secondary, .actionrow button.b-url {
	background-color: #4e5058;
}
.actionrow button.b-success {
	background-color: #248045;
}
.actionrow button.b-danger {
	background-color: #da373c;
}

.actionrow button, .actionrow button a, .actionrow button:not(.select) span {
	color: #fff;
}

.actionrow button.b-url {
	display: flex;
}
.actionrow button.b-url svg {
	margin-left: 5px;
}

.actionrow button.b-url a {
	text-decoration: none;
}
.actionrow button.b-url:disabled a {
	pointer-events: none;
}

.actionrow button:hover, .actionrow button:focus {
	opacity: .8;
}

.actionrow button:disabled {
	opacity: .5;
	cursor: not-allowed;
}

.actionrow .select {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 8px;
	margin: 0 16px 0 0;
	background: var(--select-bg);
	color: var(--select-color);
	border: 1px solid var(--select-border);
	width: 400px;
}

.actionrow .select div {
	display: flex;
	align-items: center;
}

#connection-container, #app-list-container {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

#connection-container > div, .application {
	padding: 5px 10px;
	border-radius: 5px;
	background: var(--textarea-bg);
	cursor: pointer;
	display: flex;
	flex-direction: column;
}

#connection-container > .disabled {
	background: var(--embed-fallback);
	cursor: not-allowed;
}

input:focus-visible,
button:focus-visible,
textarea:focus-visible,
.servericon:focus-visible,
.channel:focus-visible {
	outline: 2px solid var(--focus);
}

.jumped {
	animation-duration: 1.3s;
	animation-name: jumped;
}
@keyframes jumped {
	0%, 100% {
		background-color: transparent;
	}
	50% {
		background: var(--message-jump);
	}
}

.suberror {
	animation: 6s forwards fadeInOut;
}

.suberrora {
	background: var(--channel-hover);
	border-radius: .1in;
	position: absolute;
	border: solid var(--primary-text) .02in;
	color: color-mix(in hsl, var(--yellow), var(--red));
	font-weight: bold;
	opacity: 0;
	cursor: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: space-evenly;
	padding: .075in;
	box-sizing: border-box;
	pointer-events: none;
}

@keyframes fadeInOut {
	0%, 100% {
		opacity: 0;
	}
	5%, 90% {
		opacity: 1;
	}
}

form div {
	width: 100%;
}

#logindiv label, #register label {
	user-select: none;
}

img.svgtheme,
#app-list-container img {
	aspect-ratio: 1;
}

.channels .channel {
	margin-bottom: .03in;
}

.collapse-icon {
	width: 12px;
	height: 12px;
	margin-right: 3px;
	transition: rotate .2s;
}
.hiddencat {
	rotate: -90deg;
}

.category {
	margin-top: 10px;
	font-size: 14px;
}

.accent {
	color: var(--link);
}

.svgicon {
	width: .5in;
	height: .5in;
}

.emojiPicker {
	position: absolute;
	width: 3.5in;
	height: 4in;
	background: var(--profile-info-bg);
	border-radius: .15in;
	border: solid var(--black) .03in;
	box-shadow: var(--shadow) .03in .03in .2in;
	display: flex;
	flex-direction: column;
	z-index: 2;
}

.emojiSelect {
	font-size: .23in;
	text-align: center;
	cursor: pointer;
	width: .4in;
	height: .4in;
	background: color-mix(in hsl, var(--profile-info-bg), var(--shadow));
	border-radius: 2in;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border: solid var(--black) .03in;
	flex-shrink: 0;
	align-items: center;
}

.emojiTitle {
	padding: .03in .03in .03in .1in;
	border-bottom: solid var(--black);
	width: 100%;
	box-sizing: border-box;
	margin-bottom: .025in;
}

.emojiBody {
	display: flex;
	flex-wrap: wrap;
	align-content: flex-start;
	justify-content: space-evenly;
	overflow-y: scroll;
	box-sizing: border-box;
	flex-shrink: 1;
	flex-grow: 1;
}

.reactiondiv {
	margin-top: 3px;
	margin-left: 54px;
}

.reactionCount {
	font-size: 15px;
	font-weight: bold;
	color: var(--mention-color);
	padding: 0 .05in 0 .02in;
}

.reaction {
	cursor: pointer;
	position: relative;
	display: flex;
	margin-right: .05in;
	padding: 2px 5px;
	border-radius: 5px;
	border: 2px solid var(--light-border);
	background: var(--code-bg);
}

.meReacted {
	border: 2px solid var(--mention-color);
	background: var(--mention-bg);
}

.Buttons {
	background: var(--primary-bg);
	position: relative;
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	display: flex;
	align-content: stretch;
	align-items: stretch;
}

.dontshrink {
	flex-shrink: 0;
}

.msg-edited {
	font-size: 12px;
	color: var(--timestamp-color);
	user-select: none;
	margin-left: 5px;
}

@media only screen and (max-width: 700px) {
	#client-logo {
		width: 75vw;
		height: 75vw;
	}
}

.switchtable {
	flex-grow: 1;
	flex-shrink: 0;
	padding: .05in;
	border-radius: .1in;
	margin-bottom: .05in;
	background: var(--message-bg-hover);
	border: solid var(--black) .03in;
	box-shadow: .01in .01in .05in var(--black);
	align-items: center;
}
.userinfo {
	margin-left: .1in;
	height: fit-content;
}
#switchaccounts {
	text-decoration: underline;
	cursor: pointer;
	transition: text-shadow .2s;
}
#switchaccounts:hover {
	text-shadow: var(--primary-text) 0 0 .03in;
}

#servertd {
	z-index: 5;
	background: var(--server-name-bg);
}

.titlespace {
	padding: .1in 0 0 .1in;
}

.SettingsButton {
	width: 95%;
	box-sizing: border-box;
	margin: 0 0 .03in;
	padding: .075in;
	border-radius: .075in;
	border: .03in solid #000;
	height: .4in;
}
.SettingsButton:active {
	border-width: .03in;
}

#user-actions {
	display: flex;
	flex-wrap: wrap;
	width: fit-content;
	margin-right: .01in;
	border-radius: .3in;
	cursor: pointer;
}
#user-actions:hover, #user-actions:focus {
	background: var(--settings-hover);
}

#settings {
	width: 20px;
	height: 20px;
	margin: .05in;
}

.emojiSelect > .emoji-server {
	width: 32px;
	height: 32px;
}

.emojirow {
	flex-grow: 0;
}

#invitebody {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: var(--dialog-bg);
	border-radius: .1in;
	border: solid .03in var(--black);
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: .5in .2in;
	gap: .1in;
	width: 5in;
}

#invite-accept {
	padding: .1in .2in;
	width: 100%;
	text-align: center;
	margin-top: .5in;
}

.invitediv {
	width: 3in;
	border: solid .03in var(--black);
	border-radius: .1in;
	background: var(--textarea-bg);
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
}

.invitediv span {
	text-wrap: nowrap;
}

.inviteGuild {
	width: .75in;
	height: .75in;
	background: var(--blank-bg);
	display: flex;
	justify-content: center;
	align-items: center;
	user-select: none;
	font-size: .3in;
	border-radius: .2in;
	border: solid .03in var(--black);
}

.copybutton {
	display: inline-block;
	width: .25in;
	height: .2in;
}

.copycontainer {
	position: absolute;
	right: 0;
	background: var(--blank-bg);
	padding: .05in;
	border-radius: .1in;
	border: solid .03in var(--black);
	box-sizing: border-box;
	box-shadow: .02in 0 .03in var(--black);
	cursor: pointer;
}

.statusDiv {
	position: absolute;
	bottom: 0;
	left: 30px;
	width: .125in;
	height: .125in;
	background: var(--black);
	border: solid .03in var(--black);
	box-sizing: border-box;
	border-radius: .1in;
}

.onlineStatus {
	background: var(--green);
}
.offlineStatus, .invisibleStatus {
	background: var(--primary-bg);
}
.idleStatus {
	background: var(--yellow);
}
.dndStatus {
	background: var(--red);
}

.banner {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 105px;
	opacity: .8;
	object-fit: cover;
}

.profileTop {
	height: 105px;
}

.rolesbox {
	margin-top: 5px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-content: flex-end;
	align-items: flex-end;
}

.rolediv {
	font-size: .15in;
	width: fit-content;
	background: var(--blank-bg);
	padding: 3px;
	border-radius: .05in;
	border: solid .03in var(--black);
	display: flex;
	align-items: center;
}

.colorrolediv {
	width: .125in;
	height: .125in;
	display: inline-block;
	background: var(--role-color);
	margin-right: .04in;
	border-radius: .1in;
	border: solid .01in var(--black);
}

#channelTopic {
	margin-left: 10px;
}

#loadingdiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 0;
	background: var(--primary-bg);
	opacity: 0;
	display: flex;
	flex-direction: column-reverse;
	overflow-y: scroll;
	z-index: 1;
}

#loadingdiv.loading {
	opacity: 1;
	height: 100%;
}

.loadingpfp {
	position: absolute;
	width: .4in;
	height: .4in;
	background: var(--channel-hover);
	margin-left: .05in;
	border-radius: 1in;
}

.loadingcontent {
	margin-left: .5in;
	background: var(--channel-hover);
	margin-bottom: .1in;
	border-radius: .1in;
	height: 17px;
}

.capsflex {
	display: flex;
	align-items: center;
}

.badges {
	width: fit-content;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
}

.badge {
	display: flex;
	color: var(--primary-text);
	width: fit-content;
	background: var(--profile-bg);
	padding: .04in;
	border-radius: .07in;
	font-size: .12in;
	align-items: center;
	border: solid .01in var(--black);
	box-sizing: border-box;
}

.badge img {
	width: .1in;
	height: .1in;
}

.pfpdiv {
	position: relative;
}

.blocked {
	cursor: pointer;
	width: max-content;
	font-size: 15px;
	margin-left: 54px;
}
.replyflex .blocked {
	margin-left: 10px;
}

.user-blocked {
	display: none;
}

.blocked {
	padding-left: .45in;
	cursor: pointer;
	font-weight: bold;
	font-style: italic;
}

.zeroheight {
	height: 0;
	flex-shrink: 1;
	display: block;
	padding: 0;
}

.settings .flexttb {
	max-height: unset;
	overflow: unset;
}

.commentrow.compact .message-header {
	flex-wrap: nowrap;
	min-width: min-content;
}
.commentrow.compact .timestamp {
	word-break: keep-all;
	word-wrap: normal;
}

.commentrow.compact .username, .commentrow.compact .timestamp {
	margin: 0 5px 0 0;
}

.topMessage.compact {
	margin-top: 0;
}

.optionElement {
	margin-top: 10px;
	border-radius: .03in;
	box-shadow: .01in .01in .1in #00000059;
	max-height: 100%;
}

.updates {
	display: flex;
	flex-direction: column;
}

.FormSettings {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: .1in;
}

.clickable {
	cursor: pointer;
}

#titleDiv {
	box-sizing: border-box;
	display: flex;
	align-items: center;
	width: 100%;
	padding: .03in .1in;
	background: var(--profile-bg);
	border-bottom: solid var(--black);
	justify-content: center;
}

.TitleButtons {
	color: var(--primary-text);
	margin-left: .03in;
	padding: .05in;
	border-radius:.075in;
	border:solid .03in var(--black);
	box-shadow: 0 0 .07in var(--shadow);
	transition: box-shadow .3s;
	display: block;
	width: fit-content;
}
.TitleButtons:hover {
	box-shadow: 0 0 .01in var(--shadow);
}

#pageTitle {
	margin-right: .1in;
}

.pagehead {
	background: var(--channel-hover);
	padding: 20px 0;
	display: flex;
	align-items: center;
	border-bottom: solid var(--black);
	justify-content: center;
}

#home-logo {
	margin-right: 8px;
}

.pagebox {
	padding: .06in;
	background: var(--channel-hover);
	margin: .1in;
	border-radius: .1in;
	box-sizing: border-box;
	border: .04in solid #000;
	border-left: solid .05in darkblue;
	box-shadow: .03in .04in .1in var(--black);
	flex-shrink: 0;
}

#instancebox {
	display: flex;
	flex-wrap: wrap;
	width: fit-content;
}

.instance {
	flex-grow: 0;
	width: 4.8in;
	background: var(--button-bg);
	border-radius: .1in;
	padding: .06in;
	margin: .05in;
	border: solid .04in var(--black);
	box-shadow: 0 0 .1in var(--shadow);
	display: flex;
	cursor: pointer;
	user-select: none;
}

.instance img {
	width: .6in;
	height: .6in;
	margin-right: 8px;
	border-radius: 50%;
	border: solid .03in var(--black);
}

.instanceDescription {
	background: var(--message-bg-hover);
	border-radius: .1in;
	padding: .03in .05in;
	border: solid .03in var(--black);
	display: flex;
	width: 3.9in;
	margin-bottom: .1in;
}

.instanceStatus {
	font-size: .125in;
	font-weight: 100;
	margin-left: .05in;
}

#apple-is-stupid {
	display: none;
}

.svg-announce {
	mask: url("/icons/announce.svg");
}
.svg-collapse {
	mask: url("/icons/collapse.svg");
}
.svg-channel {
	mask: url("/icons/channel.svg");
}
.svg-copy {
	mask: url("/icons/copy.svg");
}
.svg-explore {
	mask: url("/icons/explore.svg");
}
.svg-home {
	mask: url("/icons/home.svg");
}
.svg-settings {
	mask: url("/icons/settings.svg");
}
.svg-voice {
	mask: url("/icons/voice.svg");
}

.svgtheme {
	background: var(--icon-color);
	mask-repeat: no-repeat;
}
